/* Aligning the main components */

body {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
}

.loading {
	display: none;
}

.grid.main {
	width: 85vmin;
	height: 85vmin;
	font-size: 7vmin;
}

.main .cell {
	width: 12vmin;
	height: 12vmin;
	border-width: 0.2vmin;
}

footer {
	height: 8vmin;
	margin-top: 2vmin;
	padding: 1vmin 0;
	font-size: 4.5vmin;
	text-align: center;
}

footer button {
	display: inline-block;
	vertical-align: middle;
	padding: 0.05em;
	min-width: 9vmin;
	height: 100%;
	margin: 0 0.5vmin;
}

/* Help-section */
aside {
	padding: 1em;
}

#toggle-help {
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 3vmin;
}

/* Styles for toggling the help section */
aside,
.show-help .main,
.show-help footer {
	display: none;
}

.show-help,
.show-help aside {
	display: block;
}

kbd { /* Nicked from stack exchange */
	display: inline-block;
	margin: 0 0.1em;
	padding: 0.1em 0.6em;
	line-height: 1.4;
	color: #3a3d41;
	background-color: #f2f2f2;
	border: 1px solid #c7cacd;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(34, 36, 38, 0.2) 0 0 0 2px #fff inset;
}

/* The grid */
.grid {
	text-align: center;
	display: table;
	margin: auto;
}

.row {
	display: table-row;
}

.cell {
	width: 2em;
	height: 2em;
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
}

.edge { font-weight: bold; }

.tile { /* central 25 tiles */
	background: #eaeaea;
	border-color: #aaa;
}

.selected {
	box-shadow: rgba(0, 255, 0, 0.2) 0 0 10px 5px inset;
}

.error {
	background: red;
}

.cell[data-value='A']::before { content: 'A'; }
.cell[data-value='B']::before { content: 'B'; }
.cell[data-value='C']::before { content: 'C'; }

.cell[data-value='blank']::before {
	content: '✘';
	color: rgba(0, 0, 0, 0.3);
}
